/*Centro de biotecnologia agropecuario 
Analisis y desarrollo de software 
Ficha:24709780
Autor:oscar duvan ortiz velandia
fecha de creacion: 16 frebrero 2022
fecha de actualizacion: 23 febrero 2022*/

body{
    background-color: rgb(183, 222, 248);
}

#tit{
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(20, 18, 20);
}

.manzana{
    width:750px;
    height: 650px;
    background-color: rgb(170, 221, 160);
    margin-left: auto;
    margin-right: auto;
}/*le di el tamaño de pixeles que queria para mi container el color y me lo ubicara automaticamente de clor claro */