/*Centro de Biotecnologia Agropecuario (CBA)
ADSO Analisis y desarrollo de software 
Autor:Oscar duvan ortiz velandia 
ficha:2070980
fecha de creacion:16/febrero/2022
fecha de modificacion:23/febrero/2022*/

body{
    background-color: rgb(201, 153, 121);
}/*asigno el color de fondo de la pagina con el comando background-color*/

#tit{
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(12, 1, 58);
}/*le coloco el tamaño de letra y tipo de letra ademas le asigno un color*/

#classe{
    width: 705px;
    height: 452px;
    background-color: rgb(83, 83, 83);
    margin-left: auto;
    margin-right:auto;
}/* aqui ubique el container del tamaño deseado le di un color y le dije al ordenador que lo ubicara*/

#palmera{
    color: rgb(7, 0, 41);
}